<h1>Listing value_assessments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Aesthetic score</th>
      <th>Individualistic score</th>
      <th>Social score</th>
      <th>Theoretical score</th>
      <th>Traditional score</th>
      <th>Utilitarian score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @value_assessments.each do |value_assessment| %>
      <tr>
        <td><%= value_assessment.user %></td>
        <td><%= value_assessment.aesthetic_score %></td>
        <td><%= value_assessment.individualistic_score %></td>
        <td><%= value_assessment.social_score %></td>
        <td><%= value_assessment.theoretical_score %></td>
        <td><%= value_assessment.traditional_score %></td>
        <td><%= value_assessment.utilitarian_score %></td>
        <td><%= link_to 'Show', value_assessment %></td>
        <td><%= link_to 'Edit', edit_value_assessment_path(value_assessment) %></td>
        <td><%= link_to 'Destroy', value_assessment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Value assessment', new_value_assessment_path %>
