<div class="row">
	<canvas id="valueChart" width="400" height="400"></canvas>
</div>
<script type="text/javascript">
	var ctx = document.getElementById("valueChart").getContext("2d");

	var data = {
	    labels: ["Aesthetic", "Economic", "Political", "Social", "Theoretical", "Traditional"],
	    datasets: [
	        {
	            label: "My Values",
	            fillColor: "rgba(220,220,220,0.5)",
	            strokeColor: "rgba(220,220,220,0.8)",
	            highlightFill: "rgba(220,220,220,0.75)",
	            highlightStroke: "rgba(220,220,220,1)",
	            data: [ <%= @value_assessment.aesthetic_score %>,
						<%= @value_assessment.utilitarian_score %>,
						<%= @value_assessment.individualistic_score %>,
						<%= @value_assessment.social_score %>,
						<%= @value_assessment.theoretical_score %>,
						<%= @value_assessment.traditional_score %>
				]
	        }
	    ]
	};

	var myBarChart = new Chart(ctx).Bar(data);
</script>