<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @skill_assessment.user %>
</p>

<p>
  <strong>Analytical problem solving score:</strong>
  <%= @skill_assessment.analytical_problem_solving_score %>
</p>

<p>
  <strong>Conflict management score:</strong>
  <%= @skill_assessment.conflict_management_score %>
</p>

<p>
  <strong>Continuous learning score:</strong>
  <%= @skill_assessment.continuous_learning_score %>
</p>

<p>
  <strong>Creativity score:</strong>
  <%= @skill_assessment.creativity_score %>
</p>

<p>
  <strong>Customer service score:</strong>
  <%= @skill_assessment.customer_service_score %>
</p>

<p>
  <strong>Decision making score:</strong>
  <%= @skill_assessment.decision_making_score %>
</p>

<p>
  <strong>Diplomacy score:</strong>
  <%= @skill_assessment.diplomacy_score %>
</p>

<p>
  <strong>Empathy score:</strong>
  <%= @skill_assessment.empathy_score %>
</p>

<p>
  <strong>Employee development score:</strong>
  <%= @skill_assessment.employee_development_score %>
</p>

<p>
  <strong>Flexibility score:</strong>
  <%= @skill_assessment.flexibility_score %>
</p>

<p>
  <strong>Futuristic thinking score:</strong>
  <%= @skill_assessment.futuristic_thinking_score %>
</p>

<p>
  <strong>Goal orientation score:</strong>
  <%= @skill_assessment.goal_orientation_score %>
</p>

<p>
  <strong>Interpersonal skills score:</strong>
  <%= @skill_assessment.interpersonal_skills_score %>
</p>

<p>
  <strong>Leadership score:</strong>
  <%= @skill_assessment.leadership_score %>
</p>

<p>
  <strong>Management score:</strong>
  <%= @skill_assessment.management_score %>
</p>

<p>
  <strong>Negotiation score:</strong>
  <%= @skill_assessment.negotiation_score %>
</p>

<p>
  <strong>Personal effectiveness score:</strong>
  <%= @skill_assessment.personal_effectiveness_score %>
</p>

<p>
  <strong>Persuasion score:</strong>
  <%= @skill_assessment.persuasion_score %>
</p>

<p>
  <strong>Planning score:</strong>
  <%= @skill_assessment.planning_score %>
</p>

<p>
  <strong>Presenting score:</strong>
  <%= @skill_assessment.presenting_score %>
</p>

<p>
  <strong>Self management score:</strong>
  <%= @skill_assessment.self_management_score %>
</p>

<p>
  <strong>Teamwork score:</strong>
  <%= @skill_assessment.teamwork_score %>
</p>

<p>
  <strong>Written communication score:</strong>
  <%= @skill_assessment.written_communication_score %>
</p>

<%= link_to 'Edit', edit_skill_assessment_path(@skill_assessment) %> |
<%= link_to 'Back', skill_assessments_path %>
