<div class="container">
	<div class="row">
		<canvas id="skillChart" width="800" height="500"></canvas>
	</div>
</div>
<script type="text/javascript">
	var ctx = document.getElementById("skillChart").getContext("2d");

	var data = {
	    labels: ['Analytical Problem Solving',
					'Conflict Management',
					'Continuous Learning',
					'Creativity/Innovation',
					'Customer Service',
					'Decision Making',
					'Diplomacy',
					'Empathy',
					'Employee Development/Coaching',
					'Flexibility',
					'Futuristic Thinking',
					'Goal Orientation',
					'Interpersonal Skills',
					'Leadership',
					'Management',
					'Negotiation',
					'Personal Effectiveness',
					'Persuasion',
					'Planning and Organizing',
					'Presenting',
					'Self-Management',
					'Teamwork',
					'Written Communication'],
	    datasets: [
	        {
	            label: "My Values",
	            fillColor: "rgba(220,220,220,0.5)",
	            strokeColor: "rgba(220,220,220,0.8)",
	            highlightFill: "rgba(220,220,220,0.75)",
	            highlightStroke: "rgba(220,220,220,1)",
	            data: [ <%= @skill_assessment.analytical_problem_solving_score %>,
						<%= @skill_assessment.conflict_management_score %>,
						<%= @skill_assessment.continuous_learning_score %>,
						<%= @skill_assessment.creativity_score %>,
						<%= @skill_assessment.customer_service_score %>,
						<%= @skill_assessment.decision_making_score %>,
						<%= @skill_assessment.diplomacy_score %>,
						<%= @skill_assessment.empathy_score %>,
						<%= @skill_assessment.employee_development_score %>,
						<%= @skill_assessment.flexibility_score %>,
						<%= @skill_assessment.futuristic_thinking_score %>,
						<%= @skill_assessment.goal_orientation_score %>,
						<%= @skill_assessment.interpersonal_skills_score %>,
						<%= @skill_assessment.leadership_score %>,
						<%= @skill_assessment.management_score %>,
						<%= @skill_assessment.negotiation_score %>,
						<%= @skill_assessment.personal_effectiveness_score %>,
						<%= @skill_assessment.persuasion_score %>,
						<%= @skill_assessment.planning_score %>,
						<%= @skill_assessment.presenting_score %>,
						<%= @skill_assessment.self_management_score %>,
						<%= @skill_assessment.teamwork_score %>,
						<%= @skill_assessment.written_communication_score %>
				]
	        }
	    ]
	};

	var myBarChart = new Chart(ctx).Bar(data);
</script>