<h1>My Improvement Plans</h1>

<table class="table">
  <thead>
    <tr>
      <th>Initiator</th>
      <th>Follower</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @improvement_plans.each do |improvement_plan| %>
      <tr>
        <td><%= improvement_plan.initiator.first_name %> <%= improvement_plan.initiator.last_name %></td>
        <td><%= improvement_plan.follower.first_name %> <%= improvement_plan.follower.last_name %></td>
        <td><%= link_to 'Status', improvement_plan %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Improvement plan', new_improvement_plan_path %>
