<%= form_for(@comms_question) do |f| %>
  <% if @comms_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comms_question.errors.count, "error") %> prohibited this comms_question from being saved:</h2>

      <ul>
      <% @comms_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :assessment_disc_id %><br>
    <%= f.text_field :assessment_disc_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
