<div class="container">
	<%= form_for(@job_posting) do |f| %>
	  <% if @job_posting.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@job_posting.errors.count, "error") %> prohibited this job_posting from being saved:</h2>

	      <ul>
	      <% @job_posting.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="row">
			<div class="form-group" id="jobTitle">
				<label>Job Title</label>
				<%= f.text_field :title, class: "form-control typeahead", placeholder: "Job Title" %>
				<!-- ><input class="form-control typeahead" id="job-title-input" type="text" placeholder="Job Title"> -->
			</div>	
		</div>	  	
	  <div class="row hidden" id="taskStatements">
		  <div class="form-group">
			  <label>Description</label>
			  <%= f.text_area :description, class: "form-control" %>
		  </div>
		  <div class="form-group">
			  <label>Responsibilities</label>
			  <%= f.text_field :task_01, class: "form-control" %>
		  </div>
		  <div class="form-group">
			  <%= f.text_field :task_02, class: "form-control" %>
		  </div>
		  <div class="form-group">
			  <%= f.text_field :task_03, class: "form-control" %>
		  </div>
		  <div class="form-group">
			  <%= f.text_field :task_04, class: "form-control" %>
		  </div>
		  <div class="form-group">
			  <%= f.text_field :task_05, class: "form-control" %>
		  </div>
		  <div class="form-group">
			  <%= f.text_field :task_06, class: "form-control" %>
		  </div>
		  <div class="form-group">
			  <%= f.text_field :task_07, class: "form-control" %>
		  </div>
		  <div class="form-group">
			  <%= f.text_field :task_08, class: "form-control" %>
		  </div>
		  <div class="form-group">
			  <%= f.text_field :task_09, class: "form-control" %>
		  </div>
		  <div class="form-group">
			  <%= f.text_field :task_10, class: "form-control" %>
		  </div>
	  </div>
	  <div id="controlDiv" class="hidden">
		<div class="row">
			<div class="col-md-3">
				<p>Communication Styles</p>
				<ul id="sortableDisc" class="list-unstyled">
					<li id="disc_0" class="ui-state-default btn btn-success btn-lg btn-block"></li>
					<li id="disc_1" class="ui-state-default btn btn-success btn-lg btn-block"></li>
					<li id="disc_2" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="disc_3" class="ui-state-default btn btn-default btn-lg btn-block"></li>
				</ul>
			</div>
			<div class="col-md-3">
				<p>Values</p>
				<ul id="sortableValue" class="list-unstyled">
					<li id="value_0" class="ui-state-default btn btn-success btn-lg btn-block"></li>
					<li id="value_1" class="ui-state-default btn btn-success btn-lg btn-block"></li>
					<li id="value_2" class="ui-state-default btn btn-success btn-lg btn-block"></li>
					<li id="value_3" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="value_4" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="value_5" class="ui-state-default btn btn-default btn-lg btn-block"></li>
				</ul>
			</div>
			<div class="col-md-3">
				<p>Soft Skills</p>
				<ul id="sortableSkill" class="list-unstyled">
					<li id="skill_0" class="ui-state-default btn btn-success btn-lg btn-block"></li>
					<li id="skill_1" class="ui-state-default btn btn-success btn-lg btn-block"></li>
					<li id="skill_2" class="ui-state-default btn btn-success btn-lg btn-block"></li>
					<li id="skill_3" class="ui-state-default btn btn-success btn-lg btn-block"></li>
					<li id="skill_4" class="ui-state-default btn btn-success btn-lg btn-block"></li>
					<li id="skill_5" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_6" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_7" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_8" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_9" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_10" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_11" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_12" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_13" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_14" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_15" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_16" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_17" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_18" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_19" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_20" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_21" class="ui-state-default btn btn-default btn-lg btn-block"></li>
					<li id="skill_22" class="ui-state-default btn btn-default btn-lg btn-block"></li>
				</ul>
			</div>
		</div>
	  </div>
	  <div id="values"></div>
	  <div id="skills"></div>
	  <div class="field hidden">
	    <%= f.label :user_id %><br>
	    <%= f.text_field :user_id %>
	  </div>
	  <div class="hidden">
		<div>
		  	<input id="d0" name="disc_0">
		  	<input id="d1" name="disc_1">
		</div>
		<div>
		  	<input id="v0" name="values_0">
		  	<input id="v1" name="values_1">
		  	<input id="v2" name="values_2">
		</div>
		<div>
		  	<input id="s0" name="skills_0">
		  	<input id="s1" name="skills_1">
		  	<input id="s2" name="skills_2">
		  	<input id="s3" name="skills_3">
		  	<input id="s4" name="skills_4">
		</div>
	</div>
		
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
</div>

<script>

</script>