<div class="container">
    <% @job_postings.each do |job_posting| %>
	<div class="row">
		<div class="col-md-1">
			<%= image_tag job_posting.user.image, class: "img-circle", width: "90px" %>
		</div>
		<div class="col-md-6">
			<%= link_to pages_job_matches_path(job_posting: job_posting) do %>
				<h1><%= job_posting.title %></h1>
				<% end %>
			<p><%= job_posting.description %></p>
		</div>
		<div class="col-md-1">
			<%= job_posting.assessment_discs.first.name %>
		</div>
		<div class="col-md-1">
			<%= job_posting.assessment_values.first.name %>
		</div>
		<div class="col-md-1">
			<%= job_posting.assessment_skills.first.name %>
		</div>
	</div>
    <% end %>

<%= link_to 'New Job posting', new_job_posting_path %>
</div>