<h1>Listing job_postings</h1>

    <% @job_postings.each do |job_posting| %>
	<div class="row">
		<div class="col-md-1">
			<%= image_tag job_posting.user.image, class: "img-circle", width: "100px" %>
		</div>
		<div class="col-md-6">
			<h1><%= job_posting.title %></h1>
			<p><%= job_posting.description %></p>
		</div>
		<div class="col-md-1">
			<%= job_posting.assessment_discs.first.name %>
		</div>
		<div class="col-md-1">
			<%= job_posting.assessment_values.first.name %>
		</div>
		<div class="col-md-1">
			<%= job_posting.assessment_skills.first.name %>
		</div>
	</div>
    <% end %>

<%= link_to 'New Job posting', new_job_posting_path %>
