<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h2>Sign up to see your results!</h2>

			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>

			<div class="form-group">
				<%= f.label "First Name *" %><br />
				<%= f.text_field :first_name, autofocus: true, class: "form-control", required: "required" %>
			</div>

			<div class="form-group">
				<%= f.label :last_name %><br />
				<%= f.text_field :last_name, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label "Email *" %><br />
				<%= f.email_field :email, class: "form-control", required: "required" %>
			</div>

			<div class="form-group">
				<%= f.label "Choose a password - at least 8 characters" %><br />
				<%= f.password_field :password, autocomplete: "off", minlength: "8", class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label "Link to Profile Image (optional)" %><br />
				<%= f.text_field :image, class: "form-control" %>
			</div>
			<%= link_to 'Sign in', new_user_session_path %>
			<%= f.submit "Sign up", class: "btn btn-default pull-right" %>
			<% end %>
		</div>
		<div class="col-md-3"></div>
		<div class="hidden"><%= render "devise/shared/links" %></div>
<script type="text/javascript">
	$( document ).ready(function() {
		$("#new_user").validate();
	});
</script>
